In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/Dandan516/AI-Project/work/ecommerce_product_dataset.csv',index_col = 0)

In [16]:
df.head(5)

,ProductName,Category,Price,Rating,NumReviews,StockQuantity,Discount,Sales,DateAdded,City
ProductID,,,,,,,,,,
1,Headphones,Electronics,400.31,1.7,3772,20,0.08,466,2023-11-10,Albuquerque
2,Headphones,Electronics,235.03,2.3,2919,663,0.33,1332,2023-09-28,Queens
3,Smartwatch,Electronics,417.90,1.8,1184,459,0.31,252,2023-10-20,Austin
4,Smartphone,Electronics,152.70,3.4,2047,475,0.49,1806,2023-12-05,Dallas
5,Laptop,Electronics,394.74,1.8,1267,831,0.23,1508,2023-08-10,Tucson