In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Dandan516/AI-Project/main/ecommerce_product_dataset.csv',index_col = 0)

In [2]:
category  = (df['Category'].drop_duplicates()).tolist()
category

['Electronics',
 'Clothing',
 'Home & Kitchen',
 'Books',
 'Toys & Games',
 'Vitamins and supplements',
 'Skin care',
 'Makeup',
 'Coats and jackets',
 'Bicycles',
 'Art and crafting materials',
 'Drinkware',
 'Perfume and cologne',
 'Wine',
 'Socks',
 'Bedsheets',
 'Posters and artwork',
 'Candles',
 'Bath and body',
 'Cookware',
 'Nail care',
 'Underwear',
 'Motor vehicle parts',
 'Mobile phone accessories',
 'Blankets']

In [3]:
df

,ProductName,Category,Price,Rating,NumReviews,StockQuantity,Discount,Sales,DateAdded,City
ProductID,,,,,,,,,,
1,Headphones,Electronics,400.31,1.7,3772,20,0.08,466,2023-11-10,Albuquerque
2,Headphones,Electronics,235.03,2.3,2919,663,0.33,1332,2023-09-28,Queens
3,Smartwatch,Electronics,417.90,1.8,1184,459,0.31,252,2023-10-20,Austin
4,Smartphone,Electronics,152.70,3.4,2047,475,0.49,1806,2023-12-05,Dallas
5,Laptop,Electronics,394.74,1.8,1267,831,0.23,1508,2023-08-10,Tucson
...,...,...,...,...,...,...,...,...,...,...
996,Throw Blanket,Blankets,207.72,2.3,1973,16,0.46,325,2024-02-13,Baton Rouge
997,Fleece Blanket,Blankets,268.60,3.2,841,201,0.39,1546,2023-07-01,Worcester
998,Throw Blanket,Blankets,92.74,2.8,3454,880,0.02,1295,2023-10-29,Raleigh
999,Weighted Blanket,Blankets,152.28,1.3,2850,752,0.34,1962,2023-10-28,Nashville
1000,Throw Blanket,Blankets,136.53,2.0,4055,282,0.38,1089,2024-01-27,San Francisco